0RELEASE
DebugPath/LogSys/
DebugPath/allocate_g1.cfg
DebugPath/countryd.exe
DebugPath/countryd.exp
DebugPath/countryd.ilk
DebugPath/countryd.lib
DebugPath/countryd.pdb
DebugPath/data/
DebugPath/game1_ec.txt
DebugPath/game2_ec.txt
DebugPath/gamed.exe
DebugPath/gamed.exp
DebugPath/gamed.ilk
DebugPath/gamed.lib
DebugPath/gamed.pdb
DebugPath/libconfig++.dll
DebugPath/libconfig++_d.dll
DebugPath/libcurl.dll
DebugPath/libcurld.dll
DebugPath/log4cxx.dll
DebugPath/platd.exe
DebugPath/platd.exp
DebugPath/platd.ilk
DebugPath/platd.lib
DebugPath/platd.pdb
DebugPath/pthreadVC2.dll
DebugPath/savelist1.log
DebugPath/savelist2.log
DebugPath/savelist_country1.log
DebugPath/savelist_plat1.log
DebugPath/worldd.exe
DebugPath/worldd.exp
DebugPath/worldd.ilk
DebugPath/worldd.lib
DebugPath/worldd.pdb
countryd/countryd.vcproj.hq-PC.Administrator.user
gamed/gamed.vcproj.hq-PC.Administrator.user
platd/platd.vcproj.hq-PC.Administrator.user
worldd/worldd.vcproj.hq-PC.Administrator.user
ape.ncb
ape.suo
build/
core/core.vcproj.DESKTOP-FEBCRQP.dplxl.user
countryd/countryd.vcproj.DESKTOP-FEBCRQP.dplxl.user
gamed/gamed.vcproj.DESKTOP-FEBCRQP.dplxl.user
lastProto.bak
lib/boost_1_53_0.rar
platd/platd.vcproj.DESKTOP-FEBCRQP.dplxl.user
worldd/worldd.vcproj.DESKTOP-FEBCRQP.dplxl.user
0DEBUG
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
common/CMakeFiles/
common/Makefile
common/cmake_install.cmake
common/libcommon.a
countryd/CMakeFiles/
countryd/Makefile
countryd/cmake_install.cmake
countryd/libcountry.a
event/CMakeFiles/
event/Makefile
event/cmake_install.cmake
event/libevent.a
gamed/CMakeFiles/
gamed/Makefile
gamed/cmake_install.cmake
gamed/libgame.a
logic/CMakeFiles/
logic/Makefile
logic/cmake_install.cmake
logic/liblogic.a
net/CMakeFiles/
net/Makefile
net/cmake_install.cmake
net/libnet.a
platd/CMakeFiles/
platd/Makefile
platd/cmake_install.cmake
platd/libplat.a
worldd/CMakeFiles/
worldd/Makefile
worldd/cmake_install.cmake
worldd/libworld.a

