/as
/as-ProtoMessage
/build
/DebugPath
/FlashFile
ape.ncb
ape.suo
core/core.vcproj.DESKTOP-FEBCRQP.dplxl.user
lastProto.bak
platd/platd.vcproj.DESKTOP-FEBCRQP.dplxl.user
worldd/worldd.vcproj.DESKTOP-FEBCRQP.dplxl.user
countryd.vcproj.DESKTOP-FEBCRQP.dplxl.user
